@model IEnumerable<AppUser>

@{
	ViewData["Title"] = "Kullanıcılar";
}

<p>
    <a asp-action="Create" class="btn btn-outline-primary">
        <i class="fa-solid fa-plus"></i> Kullanıcı Ekle
    </a>
</p>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(user => user.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(user => user.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(user => user.EMailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(user => user.Username)
            </th>
            <th>
                @Html.DisplayNameFor(user => user.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(user => user.IsAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(user => user.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(user => user.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(user => user.DateCreated)
            </th>
            <th>
                İşlemler
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(userCollection => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(userCollection => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(userCollection => item.EMailAddress)
                </td>
                <td>
                    @Html.DisplayFor(userCollection => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(userCollection => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(userCollection => item.IsAdmin)
                </td>
                <td>
                    @Html.DisplayFor(userCollection => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(userCollection => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(userCollection => item.DateCreated)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info"><i class="bi bi-binoculars-fill"></i></a>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary"><i class="fa-solid fa-pen"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>